.city_gossip_all_cards {
  display: block;
  margin: 20px auto;
  width: fit-content;
}

.city_title {
  display: flex;
  justify-content: center;
}

.city_gossip_card {
  display: flex;
  margin-top: 50px;
}